
a {
 text-decoration: none; 
}

/* Navbar */

.navbar {
  padding: 2em;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

/* Hero section */

section * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  border-radius: 100%;
  font-size: 10rem;
  margin: 20px;
}

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  align-items: center;
  padding: 3rem;
}

.hero h2 {
  font-size: 1.5rem;
  color: #615151;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Mono One', sans-serif;
}

.hero-inferior {
  margin: 20px auto;
}

.hero-inferior img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .hero-inferior img {
    max-width: 600px;
  }
}

.text-section {
  font-size: 1.2rem;
}

.description-section {
  font-size: 1.2rem;
  color: #584e4e;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

/* about me */

.about-me-container {
  background-color: #1b1b32;
  color: white;
  height: 500px;
  padding: 10px;
  text-align: center;
}

.about-me-container .container {
  max-width: 700px;
}

.about-me-title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2rem;
  padding: 15px 0;
}

/* Experience */

.experience {
  padding: 40px 40px 60px 40px;
}

.light-section {
  background-color: white;
  color: black;
}

.experience .row .column {
  border-radius: 5px;
  height: 250px;
  padding: 30px;
  transition: all 0.3s ease-in;
}

.experience .row .column:hover {
  background-color: #1b1b32;
  color: white;
}

.column {
  margin-top: 20px;
}

.column * {
  display: flex;
  justify-content: center;
}

.column h5 {
  margin-top: 20px;
}

.badges-container {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
}

.badges-container * {
  margin: 2px;
}

.experience i {
  margin: auto;
  background-color: #1b1b32;
  color: white;
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 8px 19px;
  width: 4rem;
}

/* Projects */

.recent-projects {
  margin: 40px auto;
  padding: 40px;
}

.projects-gallery {
  margin: 30px auto;
}

.projects {
  justify-content: center;
}

.badge-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: white solid 2px;
  padding: 5px 15px;
  border-radius: 5px;
  background: #1b1b32;
  color: white;
}

.badge-projects:hover {
  background: white;
  color: #1b1b32;
  border: #1b1b32 solid 2px;
  transition: all 0.3s ease-in;
}

.badge-projects * {
  font-size: 1.8rem;
  margin: 0 8px;

}

@media screen and (max-width: 440px) {
  .badge-projects * {
    font-size: 1.3rem;
  }
}

.col-sm-12 {
  margin: 20px 0;
}

.small {
  margin: 10px 0;
  border-radius: 5px;
  background: #1b1b32;
  color: white;
  padding: 5px 10px;
}
