a {
  text-decoration: none;
}


/* Navbar */

.navbar {
  padding: 2em;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

/* Hero section */

section * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  border-radius: 100%;
  font-size: 10rem;
  margin: 20px;
}

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  align-items: center;
  padding: 3rem;
}

.hero h2 {
  font-size: 1.5rem;
  color: #615151;
}

.hero h1 {
  margin-top: 10px;
  font-size: 2.5rem;
  font-family: 'Rubik Mono One', sans-serif;
}

.hero-inferior {
  margin: 20px auto;
}

@media screen and (max-width: 1149px) {
  .hero h1 {
    text-align: center;
  }

  .hero h2 {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .hero h1 {
    text-align: center;
    font-size: 1.3rem;
  }

  .hero h2 {
    text-align: center;
    font-size: 1.2rem;
  }
}

.hero-inferior img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .hero-inferior img {
    max-width: 600px;
  }
}

.text-section {
  font-size: 1.2rem;
}

.description-section {
  font-size: 1.2rem;
  color: #584e4e;
}

@media screen and (max-width: 767px) {
  .recent-projects #projects {
    text-align: center;
    font-size: 1.3rem;
  }
  .description-section {
    text-align: center;
  }
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

/* about me */

.about-me-container {
  background-color: #1b1b32;
  color: white;
  height: 500px;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 767px) {

  .about-me-container .about-me-title,
  .about-me-container .about-me-description {
    font-size: 1rem;
  }
}

.about-me-container .container {
  max-width: 700px;
}

.about-me-title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2rem;
  padding: 15px 0;
}

/* Experience */

.experience {
  padding: 40px 40px 60px 40px;
}

.light-section {
  background-color: white;
  color: black;
}

.text-link {
  color: #584e4e;
}

.experience .row .column {
  border-radius: 5px;
  height: 300px;
  padding: 30px;
  transition: all 0.3s ease-in;
}

.experience .row .column:hover {
  background-color: #1b1b32;
  color: white;
}

.column {
  margin: 20px 0;
}

.column * {
  display: flex;
  justify-content: center;
}

.column .info {
  text-align: center;
}

.column h5 {
  margin-top: 20px;
}

.badges-container {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.badges-container * {
  margin: 2px;
}

.experience i {
  margin: auto;
  background-color: #1b1b32;
  color: white;
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 8px 19px;
  width: 4rem;
}

/* Projects */

.recent-projects {
  margin: 40px auto;
  padding: 40px;
}

@media screen and (max-width: 767px){
  .recent-projects #projects {
    font-size: 1.2rem;
  }
  .recent-projects * {
    font-size: 1rem;
  }
}

.projects-gallery {
  margin: 15px auto 30px auto;
}

.projects {
  justify-content: center;
}

.badge-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: white solid 2px;
  padding: 5px 15px;
  border-radius: 5px;
  background: #1b1b32;
  color: white;
}

.badge-projects:hover {
  background: white;
  color: #1b1b32;
  border: #1b1b32 solid 2px;
  transition: all 0.3s ease-in;
}

.badge-projects * {
  font-size: 1.8rem;
  margin: 0 8px;

}

@media screen and (max-width: 800px) {
  .badge-projects * {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media screen and (max-width: 440px) {
  .badge-projects * {
    font-size: 1rem;
  }
}

.col-sm-12 {
  margin: 20px 0;
}

.small {
  margin: 10px 0;
  border-radius: 5px;
  background: #1b1b32;
  color: white;
  padding: 5px 10px;
}


/* Testimonials */

.testimonials {
  margin: 10px 0;
}

.testimonials .title {
  font-size: 2rem;
  font-family: 'Rubik Mono One', sans-serif;
  padding: 15px 0;

}

.sub-titles * {
  font-size: 1.2rem;
  color: #584e4e;
}

/* testimonials carousel */

.carousel {
  margin: 20px 0 40px 0;
  padding: 20px 10px;
  background: #1b1b32;
  color: white;
  border-radius: 10px;
  min-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (max-width: 767px) {

  .carousel {
    min-height: 700px;
    font-size: 0.9rem;
  }

  .center .testimonials-text {
    font-size: 1rem;
  }
}

/* .carousel-item {
  border: solid 2px blue;
}

.center, .testimonials-info {
  border: red solid 2px;
} */

.container-carousel .center {
  display: flex;
  justify-content: center;
}

.testimonials-image {
  border: white 2px solid;
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonials-text {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
}

.testimonials-info {
  font-weight: bold;
  text-align: center;
}

.testimonials-info .client {
  margin-bottom: 0;
}

.testimonials-info .charge {
  margin-top: 0;
}

.social i {
  font-size: 1.8rem;
  margin: 0 5px;
  color: white;
}

/* Contact info */

.contact-info {
  background-color: #1b1b32;
  color: #1b1b32;
  margin: 0;
}

.contact-info .row {
  padding: 0;
  margin: 0;
}

.contact-info .top-footer {
  background: #dad4d4;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info .bottom-footer {
  background: #1b1b32;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me {
  font-size: 2rem;
  font-family: 'Rubik Mono One', sans-serif;
  padding: 15px 0;
}

.contact-button {
  padding: 5px 20px;
  border-radius: 5px;
  border: solid #1b1b32 2px;
  background-color: white;
  color: #1b1b32;
}

.contact-button:hover {
  border: white solid 2px;
  background-color: #1b1b32;
  color: white;
  transition: all 0.3s ease-in;
}

.networks-button {
  padding: 5px 20px;
  border-radius: 5px;
  border: solid #dad4d4 2px;
  background-color: #1b1b32;
  color: white;
}

.networks-button:hover {
  border: #1b1b32 solid 2px;
  background-color: #dad4d4;
  color: #1b1b32;
  transition: all 0.3s ease-in;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #1b1b32;
  color: #dad4d4;
}

.footer small {
  font-size: 12px;
  margin: 0;
}

.buttons button {
  margin: 10px 0;
  padding: 2px 10px;
  border: #1b1b32 solid 1px;
  border-radius: 5px;
  background: white;
}


.buttons button:active {
  background: #1b1b32;
  color: white;
  transition: all 0.5s ease-in;
}

.buttons {
  padding: 5px;
  font-size: 1.5rem;
}